* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0
}

.margin-top40 {
  margin-top: 40px;
}

.margin-top80 {
  margin-top: 80px;
}

.margin-left20 {
  margin-left: 20px;
}

.margin-bottom20 {
  margin-bottom: 20px;
}

.margin-bottom10 {
  margin-bottom: 10px;
}

.center {
  text-align: center;
}

.top-right {
  position: absolute;
  top: 1.04%;
  right: 1.04%;
}

nav img {
  width: 70px
}

fieldset {
  border: 0;
}

.box {
  border: 1px solid black;
  border-radius: 6px;
  margin-bottom: 10px;
  line-height: 2.5em;
}

button {
  display: block;
  margin: 0 auto;
  padding: 15px;
  border-radius: 6px;
}

button:hover {
  color: white;
  background-color: black;
}

.box:hover {
  color: white;
  background-color: black;
}
.button2 {
  margin-top: 10px;
}

.align-right {
  text-align: right;
}

.container {
  margin-bottom: 10px;
}

.loading {
  width: 0;
  height: 10px;
  background-color: grey;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 3s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  from {width: 0;}
  to {width: 100%;}
}

/* Standard syntax */
@keyframes example {
  from {width: 0;}
  to {width: 100%;}
}
